body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  h1 {
    margin: 0;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  li {
    margin-right: 10px;
  }
  
  a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
  }
  
  a:hover {
    background-color: #333;
    color: #fff;
  }
  
  section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
  }
  
  .card {
    width: 30%;
    background-color: #eee;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .card h2 {
    margin-top: 0;
    font-size: 24px;
  }
  
  .card p {
    margin-bottom: 0;
  }